.input-area {
  position: relative;
  display: block;
  width: 270px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  border-width: 0px;
  border-style: none;
  outline: none;

  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  text-indent: 30px;
  padding: 0px;

  &:hover,
  &:focus {
    border-style: none;
  }
}

.search-string {
  display: block;
  position: relative;
}

.dropdown {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
}

select {
  color: rgba(255, 255, 255, 0.2);
}

select > option {
  border-radius: 20px;
  background-color: rgb(54, 53, 53);
}

.search-icon {
  &__icon-search {
    position: absolute;
    display: block;
    top: 14px;
    bottom: 14px;
    right: 30px;
    cursor: pointer;
  }
  &__icon-polygon-down {
    position: absolute;
    display: block;
    top: 15px;
    bottom: 15px;
    right: 30px;
  }
}

@media screen and (min-width: 320px) {
  .search-string {
    padding-bottom: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .search-string {
    display: block;
    padding-bottom: 27px;
  }
  .search-string:not(:last-child) {
    margin-right: 30px;
  }

  .search-form {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .search-string {
    padding-bottom: 52px;
  }
}
